
body {
  background-image: url('images/nyt-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

li {
  list-style-type: none !important; 
}

.content {
  margin-top: 60px;
}

/* JUMBOTRON SYLTING */

.jumbotron {
  background-image: url('images/nyt-header.jpg');
  background-size: cover;
  color: white;
  height: 300px;
  margin-top: 50px !important;
}

.jumbotron .container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BUTTON STYLING */

.btn {
  margin-left: 10px !important;
  background-color: #2B193D;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
}

.btn:hover {
  background-color: white;
  color: #2B193D;
  border: 2px solid #2B193D;
  border-radius: 25px;
}

btn:focus {
  box-shadow: none !important;
}

.btn:active {
  size: 1.1em;
}

#submit {
  margin-left: 0 !important;
}

/* PANEL STYLING */

.panel-heading {
  background-color: #889696 !important;
  color: white !important;
}

.panel-body {
  
}

.panel {
  border: 1px #1B2845 solid !important;
}

/* FORM STYLING */
label {
  color: white;
}