
body {
  background-image: url('images/brick-wall.png');
  font-family: 'Didact Gothic', sans-serif;
}

/* NAVBAR STYLING */

.nav {
  font-family: 'PT Sans', sans-serif;
  display: flex !important;
  align-items: center;
  height: 50px !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.image {
  height: 30px;
  width: 30px;
}

.content {
  margin-top: 60px;
}

/* JUMBOTRON SYLTING */

.jumbotron {
  font-family: 'PT Sans', sans-serif;
  background-image: url('images/stock-news.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 300px;
}

.jumbotron .container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BUTTON STYLING */

.btn {
  margin-left: 10px !important;
  background-color: #6665dd;
  color: white;
  border: 2px solid white;
  
}

.btn:hover {
  background-color: white;
  color: #6665dd;
  border: 2px solid #6665dd;
  
}

btn:focus {
  box-shadow: none !important;
}

.btn:active {
  size: 1.1em;
}

#submit {
  margin-left: 0 !important;
}

.remove {
  background-color: #A20021;
  color: white;
  border: 2px solid white;
}

.remove:hover {
  background-color: white;
  color: #A20021;
  border: 2px solid #A20021;
}

.save {
  background-color: #18F2B2;
  color: white;
  border: 2px solid white;
}

.save:hover {
  background-color: white;
  color: #18F2B2;
  border: 2px solid #18F2B2;
}

/* PANEL STYLING */

.panel-heading {
  font-family: 'PT Sans', sans-serif;
  background-color: #3454d1 !important;
  color: white !important;
}

.panel-body {

}

.panel {
  border: 1px #3454d1 solid !important;
}

/* FORM STYLING */
