
.nav {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.content {
  margin-top: 60px;
}

li {
  list-style-type: none !important; 
}
